@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0E0E0E;
  --defaultpadd: 72px;
  --paleyellowButton:  #D87D4A;

}
.cardwrapper{
  padding:0 var(--defaultpadd);
  flex-direction: column;
  display: flex;
  gap: 5em;
}

.spinner {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #3498db; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media (max-width: 800px) {
  :root {
    --defaultpadd: 40px;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: 'Manrope', sans-serif;
  position: relative;
}


button{
    cursor: pointer !important;
}

.Bringing_you_the_best_audio_gear{
    width: 100%;
    display: block;
    margin-top: 10em ;
    padding: 0 var(--defaultpadd);
}
.Bringing_you_the_best_audio_gear > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Bringing_you_the_best_audio_gear > div > div{
    height: 500px;
}
.bring_gear_writeup{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
.bring_gear_writeup > h1{
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    line-height: 1;
    text-transform: uppercase;
}
.bring_gear_writeup article{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    padding-right:10em ;
}
.enjoyingman{
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.enjoyingman img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transform: scale(1.3);
    filter: grayscale(1);
}



.threeSpeekers{
    background-color: var(--background);
    width: 100%;
    height: auto;
    margin: 2em 0;

}
.threeSpeekers > div{
    background-color: var(--background);
    padding:0 var(--defaultpadd);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3.5em;
    justify-content: center;
}
.threeSpeekers > div > div{
    height: 400px;
    position: relative;
    display: flex;
    align-items: end;
}
.threeSpeekers > div > div > div{
    background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    border-radius: 8px;
    padding-top: 5em;
    gap: .6em;
    flex-direction: column;
}
.threeSpeekers > div > div > div > h3{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--foreground);
    cursor: default;
}
.threeSpeekers > div > div > div > div > a{
    display: flex;
    align-items: center;
    gap: .7em;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    color: gray;
}

.threeSpeekers > div > div > span {
    position: absolute;
    top: 40%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    height: 40%;
}
.threeSpeekers > div > div > span > img{
    height: 100%;
    width: 100%;
}
.threeSpeekers > div > div > span::before{
    content: '';
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    filter: blur(11px);
    width: 71px;
    height: 20px;
    background: gray;

}
.HeaderPall{
    background-color: var(--foreground);
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    margin-bottom: 2em;
}

.helo{
    display: inline;
    text-align: center;
    background-color: var(--paleyellowButton);
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 1em;
    white-space: nowrap;
    cursor: pointer !important; 
}
@media (max-width:800px) {
    .Bringing_you_the_best_audio_gear > div{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .bring_gear_writeup{
        order: 2;
        height: auto !important;
        width: 100%;
        margin: 2em 0;
    }
    .bring_gear_writeup > h1{
        text-align: center;
    }
    .bring_gear_writeup article{
        text-align: center;
        padding: 0;
    }
}